[submodule "loom"]
	path = loom
	url = https://github.com/DrTom/loom.git
[submodule "cljs-priority-map"]
	path = cljs-priority-map
	url = https://github.com/DrTom/cljs-priority-map.git
[submodule "accountant"]
	path = accountant
	url = https://github.com/DrTom/accountant.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
